<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">New Customer</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="carAddForm">
          <div class="form-group mb-3">
           <label for="brandId">Brand Id</label>
            <input type="number" class="form-control" id="brandId" formControlName="brandId" placeholder=" Brand Id..">
          </div>
          <div class="form-group mb-3">
            <label for="colorId">Color Id</label>
             <input type="number" class="form-control" id="colorId" formControlName="colorId" placeholder=" Color Id..">
           </div>
           <div class="form-group mb-3">
            <label for="segmentId">Segment Id</label>
             <input type="number" class="form-control" id="segmentId" formControlName="segmentId" placeholder=" Segment Id..">
           </div>
           <div class="form-group mb-3">
            <label for="carFeaturesId">Car Features Id</label>
             <input type="number" class="form-control" id="carFeaturesId" formControlName="carFeaturesId" placeholder=" Car Features Id..">
           </div>
          <div class="form-group mb-3">
            <label for="carName">Car Name</label>
             <input type="text" class="form-control" id="carName" formControlName="carName" placeholder=" Car Name..">
           </div>
           <div class="form-group mb-3">
            <label for="modelYear">Model Year</label>
             <input type="number" class="form-control" id="modelYear" formControlName="modelYear" placeholder=" Model Year..">
           </div>
           <div class="form-group mb-3">
            <label for="dailyPrice">Daily Price</label>
             <input type="number" class="form-control" id="dailyPrice" formControlName="dailyPrice" placeholder=" Daily Price..">
           </div>
           <div class="form-group mb-3">
            <label for="description">Description</label>
             <input type="text" class="form-control" id="description" formControlName="description" placeholder=" Description..">
           </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
