

<!-- Button trigger modal -->
<button type="button" class="btn btn-light mb-2 d-block" data-bs-toggle="modal" data-bs-target="#rentalsDetailsModal">
  Rentals Details
 </button>

 <!-- Modal -->
 <div class="modal fade" id="rentalsDetailsModal" tabindex="-1" aria-labelledby="rentalsDetailsModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="rentalsDetailsModalLabel">List of Customers</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Rental ID</th>
              <th scope="col">Brand Name</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Rent Date</th>
              <th scope="col">Return Date</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rentalsDetail of rentalsDetails">
              <td>{{rentalsDetail.rentalId}}</td>
              <td>{{rentalsDetail.brandName}}</td>
              <td>{{rentalsDetail.customerFullName}}</td>
              <td>{{rentalsDetail.rentDate| date:'MM/dd/yyyy @ h:mma' }}</td>
              <td>{{rentalsDetail.returnDate| date:'MM/dd/yyyy @ h:mma' }}</td>

            </tr>
          </tbody>
        </table>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
