
 <section class="ftco-section ftco-no-pt">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center  mb-5">
          <span class="subheading">Search Car</span>
          <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search car..">
          <app-car-filter></app-car-filter>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let carDetail of carsDetail |filterPipe:filterText">
          <div class="car-wrap rounded ">
            <div class="img rounded d-flex align-items-end">
                 <img src="https://localhost:5001{{carDetail.carImages[0].imagePath}}" class="img rounded d-flex align-items-end" alt="...">
            </div>
            <div class="text">
              <h2 class="mb-0"><a routerLink="/cars/cardetails/{{carDetail.carId}}">{{carDetail.carName}}</a></h2>
              <div class="d-flex mb-3">
                <span class="cat">{{carDetail.brandName}}</span>
                <p class="price ml-auto">${{carDetail.dailyPrice}} <span>/day</span></p>
              </div>
              <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Book now</a> <a
                routerLink="/cars/cardetails/{{carDetail.carId}}" class="btn btn-secondary py-2 ml-1">Details</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
